# Output from compiling extension
*.o
*.so
mkmf.log
Makefile
*.dll
*.bundle

# Editor
.*.swp
.redcar

# Build
/.yardoc
/Gemfile.lock
/doc
/pkg
/tmp
/test/data/add-relative-volume
/test/data/flac-create
/test/data/id3v1-create
/test/data/vorbis-create
/test/data/mp4-create
/test/data/wav-create
/test/data/wav-dump
