<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Ruby library for reading and writing meta-data (tags) of many audio formats">
  <meta name="keywords" content="taglib, ruby, taglib-ruby, tags, id3, mp3, audio, meta-data, vorbis, flac">
  <meta name="google-site-verification" content="Uj8Y9Ojy3yEbrmPlLBSkBocbJVhSTJQsqN7Ol6YRsks">
  <title>{{ page.title }}</title>
  <link href="assets/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
  <link href="assets/css/pygments-default.css" media="screen" rel="stylesheet" type="text/css">
  <link href="assets/css/custom.css" media="screen" rel="stylesheet" type="text/css">
  <link href="assets/img/favicon.ico" rel="icon" type="image/x-icon">
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a href="https://github.com/robinst/taglib-ruby">Code <img src="assets/img/icon-github.png" alt="github icon"></a></li>
          <li><a href="http://rubydoc.info/gems/taglib-ruby/frames">Docs <img src="assets/img/icon-book.png" alt="docs icon"></a></li>
          <li><a href="https://twitter.com/taglib_ruby">Twitter <img src="assets/img/icon-twitter.png" alt="twitter icon"></a></li>
        </ul>
        <a class="brand" href="#">taglib-ruby <img src="assets/img/icon-tag.png" alt="project logo"></a>
      </div>
    </div>
  </div>
  <div class="container">
      {{ content }}
    <footer class="footer">
      <p>
        Copyright 2010&ndash;2013 Robin Stocker <a href="https://twitter.com/niborst">@niborst</a> &ndash;
        Built with <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>,
        Icons by <a href="http://glyphicons.com/">Glyphicons</a>
      </p>
    </footer>
  </div>
</body>
</html>
